<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="wheel" params="id radius width mass_kg">
        <link name="${id}">
            <visual>
                <geometry>
                    <cylinder length="${width}" radius="${radius}" />
                </geometry>
                <material name="wheel_tire" />
            </visual>
            <collision>
                <geometry>
                    <cylinder length="${width}" radius="${radius}" />
                </geometry>
            </collision>
            <inertial>
                <mass value="${mass_kg}"/>
                <inertia ixx="${(1/12) * mass_kg * (3*radius*radius + width*width)}" ixy="0" ixz="0" iyy="${(1/12) * mass_kg * (3*radius*radius + width*width)}" iyz="0" izz="${(1/2) * mass_kg * radius*radius}" />
            </inertial>
        </link>
        <gazebo reference="${id}">
            <material>Gazebo/Black</material>
        </gazebo>
    </xacro:macro>

</robot>
